* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    text-transform: uppercase;
}

.wrapper {
    display: grid;
    grid-template-rows: 100px 1fr 200px;
    grid-template-columns: 20% 1fr 20%;
    height: 100vh;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}


header {
    height: 100%;
    grid-area: header;
    background-color: #444;
    
}


​.bild {
    position: relative;
    
}


.bild h1{
    position: relative;
    font-size: large;
    color: #eee;
    


}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
    flex: 1 0 auto;
    padding: 40px;
    height: 100%;
    list-style-type: none;  
    justify-content: space-evenly;
    align-items: center;
    
    
}

 ul a {
    text-decoration: none;
    color: #fff;
    padding: 41px;
}

ul a:hover {
    color: #222;
    background-color: #55d6aa;
    transition: all 0.5s ease-in-out;
}

/*button*/

button {
    
    border: none;
    color: #444;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    margin:  4px 2px;
    

}

button a {
    padding: 20px 20px;
    color: #222;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


button:hover {
    background-color: #55d6aa;
    transition: all ease-in-out 0.3s;
}

button a:hover {
    color: #000;
}


/*footer*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #444;
    
}

footer h2 {
    color: #ffffff;
}

footer > div > a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: color .3s ease-out;
}
footer > div > a:hover {
    color: #55d6aa;
}

footer > div {
    margin: 0 auto;
}

footer > p {
    text-align: center;
    grid-column: 2 / 3;
}

/*main*/

main {
    grid-area: main;
    background: rgba(102, 102, 102, 0.603);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*slideshow/bildspel*/

.slider {
    margin: 0 auto;
    width: 100vw;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;

}

.slide {
    display: flex;
    width: 20%;
    transition: 2s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.slide img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    object-position: center center;
}

/* manuell navigation */

.navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    display: flex;
    border: 2px solid #e76c67;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #55d6aa;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

 
/*automatisk navigering*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 460px;

}

.navigation-auto div {
    border: 2px solid #e76c67;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto.btn1 {
    background: #55d6aa;

}

#radio2:checked ~ .navigation-auto .auto.btn2 {
    background: #55d6aa;
    
}

#radio3:checked ~ .navigation-auto .auto.btn3 {
    background: #55d6aa;
    
}

#radio4:checked ~ .navigation-auto .auto.btn4 {
    background: #55d6aa;
    
}

/* card css */

.card {
    border: 1px hidden red;
    flex: 1 1 42%;
    margin: 30px;
    position: relative;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
    border-radius: 5px;;
}

.card a {
    text-decoration: none;
    color: #e76c67;
}

.card h2 {
    font-size: medium;
    font-weight: 900;
    color: #e76c67;
    margin-bottom: 10px;
    
}

.card h1 {
    font-size: x-large;
}



.card-img {
    background: url(../img/hall.jpg);
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.img1 {
    background: url(../img/spa.jpg);
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img2 {
    background: url(../img/resturang.jpg);
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.img3 {
    background: url(../img/konferans.jpg);
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-content {
    padding: 20px 20px 100px;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid ;
    
}

.card-likes {
    display: flex;
    flex-direction: column;
    
}

.card-likes a {
    color: #e76c67;
}

.card-likes a:hover {
    color: #55d6aa;
    transition: all 0.3s ease-out;
}

/* card button */

.card-button {
    border: 1px solid red;
    background: #eeeeee;
    padding: 10px;
    color: #eeeeee;
    border-radius: 15px;
    transition: all 0.3s ease-out;   
}

.card-button:hover {
    background: #e76c67;
    color: #eeeeee;
}


nav > ul > li  {
    color: #ffffff;
}

.card-likes > a {
    color: #e76c67;
}

/* media quarys */
